toucharea {
    border-radius: 30px;
    width: 84%;
    height: 44%;  
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: #6d767e;
    touch-action: none;
    text-align: center;
  
  }
  ha-card { 
    width: 100%;
    height: 100%;
    background-color: #343a40; 
    touch-action: none;
    
  }
  entity-data{

    touch-action: none;
    margin: 20px;
    float: left;
  }

  .power{
    background-color: transparent; 
    box-shadow: none;
    border-color: transparent;
    float: right;
    margin: 20px;
    color: white;
  }
  control-buttons{
    display: grid;
    grid-template-columns: 0.2fr 1.2fr 0.5fr 1.2fr 0.2fr;
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 43px;
    grid-row-gap: 0px;
    height: 30%;
    width: 100%;
    bottom: 54%;
    position: absolute;
    touch-action: none;
    }
  .chp{
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 50% 50% 0% 0%;
    height: 100%;
    width: 100%;
    box-shadow: none;
    background-color: #6d767e;
    border-color: transparent;
    
  }
  .chm{
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 0% 0% 50% 50%;
    box-shadow: none;
    background-color: #6d767e;
    border-color: transparent;
    
  }
  .src{
    grid-area: 1 / 3 / 2 / 4;
    border-radius: 100%;
    box-shadow: none;
    background-color: #6d767e;
    border-color: transparent;
    margin: 50% 0% 55% 0%;
    max-height: 40px;
  }
  .mute{
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 100%;
    box-shadow: none;
    background-color: #6d767e;
    border-color: transparent;
    margin: 65% 0% 35% 0%;
    max-height: 40px;
  }
  .volp{
    grid-area: 1 / 4 / 2 / 5;
    border-radius: 50% 50% 0% 0%;
    height: 100%;
    width: 100%;
    box-shadow: none;
    background-color: #6d767e;
    border-color: transparent;
  }
  .volm{
    grid-area: 2 / 4 / 3 / 5;
    border-radius: 0% 0% 50% 50%;
    height: 100%;
    width: 100%;
    box-shadow: none;
    background-color: #6d767e;
    border-color: transparent;
  }
  entity-area{
    
    height : 40px;
    margin : 1px 0 0 0;
  }
  hr{
    height:2px;
    width: 97%;
    border-width:0;
    color:#6d767e;
    background-color:#6d767e;
  }
