  touch-area{
    display: block;
    width: 93%;
    margin: 9vh auto 0px;
    border-radius: 30px;
    margin-bottom: 10px;
    height: 59vh; 
    background: #6d767e;
    touch-action: none;
    border: 1px solid black;
  }
  entity-area{
    height : 10vh;
    width: 100%;
    margin : 0;
  }
  ha-card { 
    position: relative;
    background-color: #343a40; 
    touch-action: none;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-flow: column;
    max-height: 750px ;
    max-width: 458px;
    left: 1vw;
    right: 1vw;
    border: double 4px transparent;
    border-radius: 30px;
    background-image: linear-gradient(#343a40, #343a40), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  control-buttons{
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: auto auto; 
    gap: 0px auto; 
    width: 90vw;
    margin: 4vh auto 2vh;
    height: 50vh;
    max-width: 96%;
    touch-action: none;
    padding-left: 13px;
    padding-right: 13px;
    grid-template-areas: 
        "a b c"
        "d e f";
  }
  .add-border {
    border: 1px solid black;
  }
  .power{
    background-color: transparent; 
    box-shadow: none;
    border-radius: 3rem;
    float: right;
    margin: 20px;
    --mdc-icon-size: 35px;
  }
  .on{
    color: green;
  }
  .off{
    color: red;
  }
  .chp{
    grid-area: a;
    border-radius: 3rem 3rem 0rem 0rem;
    height: 100%;
    width: 24vw;
    max-width: 118px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    background-color: #6d767e;
  }
  .chm{
    grid-area: d;
    border-radius: 0rem 0rem 3rem 3rem;
    height: 100%;
    width: 24vw;
    max-width: 118px;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #6d767e;
    
  }
  .src{
    grid-area: b;
    border-radius: 1.5rem;
    box-shadow: none;
    background-color: #6d767e;
    margin: auto;
    padding: 10px;
    height: fit-content;
  }
  .mute{
    grid-area: e;
    border-radius: 1.5rem;
    box-shadow: none;
    background-color: #6d767e;
    margin: auto;
    padding: 10px;
    height: fit-content;
  }
  .volp{
    grid-area: c;
    border-radius: 3rem 3rem 0rem 0rem;
    height: 100%;
    width: 24vw;
    max-width: 118px;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #6d767e;
  }
  .volm{
    grid-area: f;
    border-radius: 0rem 0rem 3rem 3rem;
    height: 100%;
    width: 24vw;
    max-width: 118px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    background-color: #6d767e;
  }
  hr{
    height:2px;
    width: 97%;
    border-width:0;
    color:#6d767e;
    background-color:#6d767e;
  }
